*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.team-section{
    width: 100%;

}
.team-section .container{
    width: 80%;
    margin: auto;

}
.container .row{
    width: 60%;
    margin: auto;

}

.container .row .title{
    text-align: center;
    margin-top: 50px;

}
.container .row .title h1{
   font-size: 35px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   color: #eb6234;

}
.container .row .title h1::after{
    content: "";
    width: 230px;
    height: 5px;
    display: flex;
    background-color: black;
    margin: auto;
    margin-top: 5px;

}
.container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0;
    color: #a3a3a3;

}
.container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 50px;


}
.container .team-card .card{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;

}
.container .team-card .card:hover{
    background-color: #f3f3f3;
    transition: 0.3s ease;

}
.container .team-card .card .image-section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #f3f3f3;

}
.container .team-card .card .content{
    width: 100%;
    text-align: center;

}
.container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 0.5pc;
    color: #639ab8;

}
.container .team-card .card .content h4{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5p;
    color: #6e6e66;

}
.container .team-card .card .content p{
    font-size: 15px;
    margin: 16px 0;
    letter-spacing: 1.5px;
    color: #6e6e66  ;
}

/* -----  media-queri ------------ */
@media screen and (max-width:900px){
    .container .team-card{
       grid-template-columns: repeat(2,1fr);
       
    }
    .container .row .title h1::after{
        content: "";
        width: 250px;
        height: 5px;
        display: flex;
        background-color: black;
        margin: auto;
        margin-top: 5px;
    
    }
    
}
@media screen and (max-width:768px){
    .container .team-card{
        grid-template-columns: 1fr;
    }
    .container .row .title h1::after{
        content: "";
        width: 180px;
        height: 5px;
        display: flex;
        background-color: black;
        margin: auto;
        margin-top: 5px;
    
    }

}